<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Config\Model\Config\Structure\Element\Field">
        <plugin name="add_config_path_to_field_comments"
                type="tr33m4n\ConfigHints\Plugin\Model\Config\Structure\Element\FieldPlugin"
                sortOrder="1"/>
    </type>
</config>
